/* src/App.css */
.app-layout {
  display: flex;
  background-color: #F9F9F9; /* Ensure layout background matches */
}

.sidebar-container {
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content-container {
  flex-grow: 1;
  padding: 1rem 2rem 2rem;
  overflow-y: auto;
}